name: CI

on:
  push:
    # paths:
    #   - 'data/*'
    branches:
      - main
      - feature/ci

jobs:
  pinata:
    name: pinata-deploy
    runs-on: ubuntu-latest
    steps:
      - uses: aquiladev/ipfs-action@v0.2.0
        id: ipfs
        with:
          path: ./data
          host: ipfs.infura.io
          port: 5001
          protocol: https
          timeout: 180000
          verbose: true
      - uses: aquiladev/ipfs-action@v0.2.0
        with:
          path: ./data
          service: pinata
          pinataKey: ${{ secrets.PINATA_API_KEY }}
          pinataSecret: ${{ secrets.PINATA_SECRET_KEY }}
      # - uses: anantaramdas/ipfs-pinata-deploy-action@v1.6.4
      #   with:
      #     pin-name: 'StakeWise'
      #     path: './data'
      #     pinata-api-key: ${{ secrets.PINATA_API_KEY }}
      #     pinata-secret-api-key: ${{ secrets.PINATA_SECRET_KEY }}
      #     verbose: true
      #     remove-old: false
