name: Deploy

on:
  push:
    branches:
      - main
      - feature/deploy

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.7
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Deploy
        run: python main.py
